body{
  background-color:#c0bcbc;
  padding-bottom:63px;
}
.company-header{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.company-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;  
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
  order: -1;
}

.company-logo:hover {
  transform: scale(1.1);  
}

.byd-name,.mg-name,.geely-name {
  font-size: 40px;
   font-weight: bold;
   color: #444;
  }

.cars-box {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cars-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.flip-card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flip-card:hover {
  transform: scale(1.02);
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.2);
}

.flip-card-front img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  display: block;
}

.flip-card-back {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.flip-card-back h3 {
  font-size: 26px;
  border-bottom: 2px solid #800020;
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-weight: bold !important ;
  color: #444 !important;
}

.flip-card-back p {
  font-size: 16px;
  line-height: 1.5;
  color: #444 !important;
  font-weight: bold !important;
  margin: 0;
}
@media (max-width: 768px) {
  .cars-cont {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}


.cars-table-section {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.cars-table {
  width: 100%;
  border-collapse: separate;  
  border-spacing: 0;
  background-color: #fff;
  border-radius: 20px;        
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border: none;
}

.cars-table th,
.cars-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.3s ease;
}


.cars-table th {
  background-color: #800020;  
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.cars-table td {
  background-color: #c0bcbc;
  color: #800020;
}


.cars-table td:hover,
.cars-table th:hover {
  background-color: #800020;  
  color: white;
  cursor: pointer;
}


.cars-table tr:last-child td {
  border-bottom: none;
}
button,a,.clickable,img {
  cursor: pointer;
  transition: transform 0.2s ease;
}
button:active,
a:active,
.clickable:active,
img:active {
  transform:scale(0.97);
}
 
