html,body{
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: relative;
    top: -20px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1000; 
    width: 100%;
}
nav ul {
   background-color: black;
   background-color: rgba(255,255,255,0.1);
   backdrop-filter: blur(20px) saturate(180%);
   -webkit-backdrop-filter: blur(20px) saturate(180%);
   border: 1px solid rgba(255,255,255,0.7);
   border-top: 1px solid rgba(255,255,255,0.8);
   border-left: 1px solid rgba(255,255,255,0.4);
   border-radius: 10px;
   box-shadow: 0 10px 40px 0 rgba(0,0,0,0.4);
   margin: 10px 20px;
   padding: 15px 20px ;
   display: flex;
   justify-content: center;
   flex-direction: row;
   list-style: none;
}
/* box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-top: 0;
    background: transparent;
    padding: 20px 0px;
    width: 100%;
    margin: 0;*/
nav ul li a{
    margin-top: 0;
    margin-left: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: normal;
}
nav ul li {
    display: inline-block;
    margin: 0 15px;
}
nav ul li a:hover{
    color:#681A15;
    background-color: #a9a9a9;
    border: 5px solid #681A15;
    border-radius: 8px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px){
 
    nav ul {
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    display: flex ;
    flex-direction: column ;
    list-style: none ;
    justify-content: center ;
    width: 100%;
    padding: 10px 0;
    align-items: center;
}
    nav ul li {
   margin: 10px 0 ;
   margin-bottom: 15px ;
   width: 100% ;
   text-align: center;
}
   nav ul li a{
       font-size: 18px 
   }
   nav ul li a:hover{
    color: #681A15;
    background-color: #a9a9a9;
    border: 5px solid #373B56;
    border-radius: 8px;
    transition: all 0.3s ease;
}
}